.home-container {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.typing-text {
  color: white;
  font-size: 2em;
  font-family: 'Courier New', Courier, monospace;
}